# Environment files
backend/.env.local
backend/.env.docker
frontend/.env.local
frontend/.env.docker
.env
.env.*


# Python cache folders
__pycache__/
*/__pycache__/
**/__pycache__/

# Python compiled files
*.pyc
*.pyo
*.pyd
