# Environment files
backend/**/.env
backend/**/.env.local
frontend/.env.local
frontend/.env
.env
.env.local



# Python cache folders
__pycache__/
*/__pycache__/
**/__pycache__/

# Python compiled files
*.pyc
*.pyo
*.pyd

# ignore services for now
criteriaService/
sessionService/
userService/

# --- Tailscale ---
tailscale-*/state/
tailscale-shared/state/
tailscale-backend/state/
tailscale-nginx/state/
tailscale-frontend/state/
tailscale.sock
tailscaled.log